01-lead-capture-crm-ai-followup.json
{
  "name": "Lead Capture → CRM → AI Email Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Lead Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "lead-capture"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SHEET_ID"
        },
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company }}",
            "Source": "={{ $json.source }}",
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Status": "New"
          }
        }
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets (CRM)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly sales assistant. Write a personalized welcome email for a new lead. Keep it warm, professional, and under 150 words. Include their name and company. End with a soft CTA to book a call."
            },
            {
              "role": "user",
              "content": "Write a welcome email for:\nName: {{ $json.name }}\nCompany: {{ $json.company }}\nSource: {{ $json.source }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "id": "openai-generate",
      "name": "AI - Generate Personal Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourbusiness.com",
        "toEmail": "={{ $('Webhook - Lead Form').item.json.email }}",
        "subject": "Welcome {{ $('Webhook - Lead Form').item.json.name }}! Great to connect 👋",
        "emailType": "html",
        "html": "={{ $json.message.content.replace(/\\n/g, '<br>') }}"
      },
      "id": "send-email",
      "name": "Send AI-Personalized Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        750,
        400
      ],
      "settings": {
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      }
    },
    {
      "parameters": {
        "channel": "#sales-leads",
        "text": "🎯 *New Lead!*\n*Name:* {{ $('Webhook - Lead Form').item.json.name }}\n*Company:* {{ $('Webhook - Lead Form').item.json.company }}\n*Email:* {{ $('Webhook - Lead Form').item.json.email }}\n*Source:* {{ $('Webhook - Lead Form').item.json.source }}\n\n✅ Saved to CRM\n✅ AI welcome email sent",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead captured successfully' }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Lead Form": {
      "main": [
        [
          {
            "node": "Save to Google Sheets (CRM)",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI - Generate Personal Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets (CRM)": {
      "main": [
        [
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Personal Email": {
      "main": [
        [
          {
            "node": "Send AI-Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team (Slack)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI-Personalized Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "author": "AuraHub (github.com/DILOmcfly)",
    "description": "Automatically capture leads from any web form, save to Google Sheets CRM, generate a personalized welcome email using AI (GPT-4), and notify your team on Slack. Zero manual work.",
    "categories": [
      "Sales",
      "CRM",
      "AI",
      "Lead Generation"
    ],
    "pricing": "Starter ($99)"
  }
}